.login-form {
    max-width: 300px;
  }

  h1{
      font-size: 2em;
      font-weight: bolder;
      color: #1890ff;
  }


.date-picker{
    width: 300px
}

.logo-origi{
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}